%h1= "Movies From Director '#{@director}'"

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
