-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class=>(@highlighted=="movie"?"hilite":"title")}= link_to "Movie Title", movies_path(:orderBy=>"movie"), :id=>"table_header"
      %th Rating
      %th{:class=>(@highlighted=="date"?"hilite":"title")}= link_to "Release Date", movies_path(:orderBy=>"release_date"), :id=>"release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
